.about {
	background: #f3f3f3;
	padding: 3em 0;
}
.about-info{
	padding: 3em 1em;
}
.about-info-left img {
	width: 100%;
  margin-bottom: 1em;
}
.about-info-right h4 {
	color: #37393d;
	font-size: 20px;
	font-weight: 500;
	margin: 0 0 1em;
}
.about-info-right p {
  color: #666B71;
  font-size: 16px;
  line-height: 1.8em;
  margin-top: 1em;
}
.about-team {
	padding: 3em 1em;
	display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
.about-team-grids {
  background: #fff;
  padding: 2em 1em;
  margin-left: 5px;
  -webkit-flex: 1;
   -moz-flex: 1;
   -ms-flex: 1;
   flex: 1;
}
.about-team-grids img {
	width: 100%;
}
.about-team-grids h4 {
	color: #98999B;
	font-size: 14px;
	font-weight: 500;
	margin: 1.5em 0 0.5em;
  text-align: center;
}
.about-team-grids h4 span{
	font-size: 18px;
	text-decoration:none;
	color: #37393d;
	margin-right: 10px;
  display: inline;
}
.about-team-grids ul {
  color: #666B71;
  font-size: 14px;
  line-height: 1.8em;
  padding-left: 20px;
  margin: 2em 0 2em;
}
.about-team-grids span {
  display: block;
  font-size: 14px;
  color: #666B71;
  margin: 0.5em 0;
}
.about-team-grids span i {
  margin-right: 1em;
  vertical-align: middle;
  color: #BD8D45;
}


@media(max-width:768px){
.about-info-left {
	float: left;
	width: 50%;
}
.about-team {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.about-team-grids {
  min-width: 235px;
	padding: 1em;
  margin: 0 0 8px 8px;
}
}


@media(max-width:480px){
.about {
  padding: 2em 0;
}
.about-info {
  padding: 2em 0.5em;
}
.about-info-left {
  width: 100%;
  float:none;
}
.about-info-right h4 {
  font-size: 16px;
  margin: 1em 0 .5em;
}
.about-info-right p {
  font-size: 14px;
}
.about-team {
  padding: 2em 0.5em;
}
.about-team-grids {
  padding: 2em;
  margin: 0 0 8px 8px;
}
}