/*----------------------about----------------------*/
.about {
	background: #f3f3f3;
	padding: 3em 0 0;
}
.about-text{
	padding: 5em 0;
}
.about-text-left img {
	width: 100%;
}
.about-info-left:nth-child(1){
	padding-left: 0;
}
.about-text-right h4 {
	color: #37393d;
	font-size: 19px;
	font-weight: 500;
	margin: 0 0 15px;
	letter-spacing: 1px;
}
.about-text-right p {
  color: #999;
  font-size: 14px;
  line-height: 1.8em;
}
.about-team {
	padding: 5em 0;

	display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}
.about-team-grids {
  background: #fff;
  padding: 2em 1em;
  margin-left: 5px;
  /*width: 24.5%;*/

  -webkit-flex: 1;
   -moz-flex: 1;
   -ms-flex: 1;
   flex: 1;
}
.about-team-grids img {
	width: 100%;
}
.about-team-grids h4 {
	color: #98999B;
	font-size: 14px;
	font-weight: 500;
	margin: 1.5em 0 0.5em;
	letter-spacing: 0px;
}
.about-team-grids h4 a{
	font-size: 18px;
	text-decoration:none;
	color: #37393d;
	margin-right: 10px;
}
.about-team-grids h4 a:hover{
	color: rgb(58, 205, 188);
	text-decoration:none;
}
.team-text h6 {
	color: #67686b;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	letter-spacing: 0px;
}
.about-team-grids ul {
  color: #999;
  font-size: 13px;
  line-height: 1.8em;
  padding-left: 20px;
}


/*----------------------//about----------------------*/

@media(max-width:768px){
.about-text-left {
	float: left;
	width: 50%;
    /*width: 30%;*/
}
.about-text {
  padding: 3em 0;
}
.about-team {
  padding: 3em 0;
}
.about-team-grids {
	float: left;
	/*width: 24.3%;*/
	padding: 1em 0.5em;
}
.about-team-grids h4 {
	font-size: 15px;
}
.about-team-grids h4 a {
	font-size: 18px;
	display: block;
	line-height: 1.8;
}
}


@media(max-width:480px){
.about {
  padding: 2em 0 0;
}
.about-text {
  padding: 3em 0;
}
.about-text-left {
  width: 100%;
  float:none;
}
.about-text-right h4 {
  font-size: 17px;
  margin: 1em 0 .5em;
  letter-spacing: 1px;
}
.about-team {
  padding: 3em 0 2em;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.about-team-grids {
  /*width: 48%;*/
  min-width: 150px;
  padding: 2em 1em;
  margin: 0 0 8px 8px;
}
.about-team-grids h4 a {
  font-size: 16px;
}
.about-team-grids h4 {
  font-size: 14px;
}
.about-team-grids:nth-child(1) p {
  margin-bottom: 0em;
}
.about-text-right p {
  letter-spacing: 0px;
}
}