body{
	margin:0;
	font-family: 'Microsoft JhengHei';
	background-color: #0A111F;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*----------------------header----------------------*/
.header{
	background-color: #263248;
	position:relative;
	height: 100px;
}
.top-logo {
	float: left;
	padding: 20px 0px;
}
.logo-icon img{
	float: left;
	height: 60px;
	width: 60px;
}
.logo-title h3 {
	font-size: 24px;
	color:#fff;
	margin:15px 0px 0px 75px;
}
.logo-title h5 {
	font-size: 14px;
	color:#fff;
	margin: 5px 0px 0px 75px;
}
.top-nav {
	float:right;
}
span.small-nav {
	display: none;
}
.top-nav ul {
	margin: 0;
}
.top-nav ul li{
	list-style-type:none;
	display: inline-block;
}
.large-nav a {
	position: relative;
	display: inline-block;
	margin: 25px 0px;
	padding: 10px;
	outline: none;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
.large-nav a::before,
.large-nav a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.large-nav a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.large-nav a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.large-nav a:hover::before,
.large-nav a:focus::before,
.large-nav a:hover::after,
.large-nav a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
/*---------------------- body ----------------------*/
.page-title {
  position: relative;
}
.page-title h3 {
	color: #37393d;
	font-size: 32px;
	font-weight: 900;
	margin: 0;
	padding: 0 0 .7em 0;
	border-bottom: 1px solid #cdcdcd;
}
.page-title h3::after {
	position: absolute;
	bottom: -5%;
	left: 0%;
	width: 10%;
	height: 10px;
	background: #7E8AA2;
	content: '';
	opacity: 1;
}
/*---------------------- //body ----------------------*/
/*---------------------- footer ----------------------*/
.footer {
  	background: #383637;
  	padding: 2em 0;
}
.footer-left {
	float: left;
}
.footer-left a {
	display: block;
  	font-size: 20px;
 	font-weight: 700;
 	text-align: center;
 	color: #BD8D45;
    text-decoration:none;
}
.footer-right {
	float: right;
	margin-top: 5px;
}
.footer-right p {
	color: #999;
	font-size: 14px;
}
.footer-right p a {
	font-size: 14px;
	font-weight: 700;
	color: #BD8D45;
	margin-left: 5px;
	text-decoration:none;
}
.footer-right p a:hover{
	color: #67686b;
}
.footer-right p a:hover {
  color: #67686b;
  border-bottom: 1px solid #BD8D45;
}
.toTop
{
  width:50px;
  height:50px;
  line-height:50px;
  padding:5px;
  text-align:center;
  background:#F63E3E;
  color:#fff;
  position:fixed;
  bottom: 9%;
  right: 3%;
  border-radius:50%;
  text-decoration:none;
  display:none
}
.toTop:hover {
  color:#fff;
}
/*----------------------//footer----------------------*/

@media(max-width:768px) {
.top-nav span.small-nav {
	display: block;
	position: relative;
	cursor: pointer;
	margin: 25px auto;
}
.top-nav ul.large-nav {
	display:none;
	padding: 0;
	margin:30px 0px;
	z-index: 999;
	position: absolute;
	width: 100%;
	left: 0;
}
.top-nav ul.large-nav li {
	display: block;
	text-align: center;
	background: rgba(0, 0, 0, 0.84);
	margin: 0;
	width: 100%;
	border: 1px solid rgb(97, 95, 95);
}
.top-nav ul li a {
	display: block;
	padding: 0.8em 0;
	font-size: 16px;
	margin: 0;
	color: #fff;
}
.top-nav ul li a:hover, .top-nav ul li a.active {
	background-color:#BD8D45;
}
.large-nav a::before,
.large-nav a::after {
	position: absolute;
	left: 0;
	width: 0%;
	height: 0px;
}
/*---------------------------nav icon--------------------------------*/
#nav-toggle {
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 300ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
/*-------------------------//nav icon--------------------------------*/
}

@media(max-width:480px){
.header	{
	height: 75px;
}
.top-logo	{
	padding: 15px 0px;
}
.logo-icon img {
  width: 45px;
  height:45px;
}
.top-logo a h3 {
  font-size: 20px;
  margin: 8px 0px 0px 60px;
}
.top-logo a h5 {
  font-size: 12px;
  margin: 0px 0px 0px 60px;
}
.top-nav span.small-nav {
	margin: 15px auto;
}
.top-nav  ul.large-nav{
	margin: 20px auto;
}
.footer-left {
  float: none;
  text-align: center;
}
.footer-left a img {
  width: initial;
}
.footer-right {
  float: none;
  text-align: center;
  margin-top: 1em;
}
.footer-right p {
  font-size: 13px;
  margin:0;
}
.footer-right p a {
  font-size: 13px;
  font-weight: 600;
}
.footer {
  padding: 2em 0;
}
}