.single-page{
  background: #fff;
  padding: 5em 0 0;
}
/*.sngl-title h3 a {
  text-decoration: none;
  transition:.5s all;
}
.sngl-title h3 a:hover{
  color:rgb(58, 205, 188);
}
.single-page h4 {
  color: #37393d;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 1em;
}
.single-page-info a {
  display: block;
}
.sngl-title {
  margin-bottom: 5em;
}*/
.single-page-left {
	background-color: #0f0;
	padding: 3em 0;
}
.single-page-left  img {
  width: 100%;
}
.single-page-info h5 {
  font-size: 1em;
  color: rgb(58, 205, 188);
  margin: 1em 0;
  line-height: 1.6;
}
.single-page p {
  color: #999;
  font-size: 1em;
  line-height: 1.8em;
}
.comment-icons {
	border-top: 1px dashed rgb(58, 205, 188);
	border-bottom: 1px dashed rgb(58, 205, 188);
	padding: 1.5em 0;
	margin: 4em 0;
}
.comment-icons ul {
	margin: 0;
	padding: 0;
}
.comment-icons ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0 10px;
	color: #999;
	font-size: 13px;
}
.comment-icons ul li span{
	background: url(../images/icons-sprite.png) no-repeat -202px 0px;
	margin-right: 10px;
	display: inline-block;
	width: 12px;
	height: 16px;
	vertical-align: middle;
}
.comment-icons ul li span.clndr{
	background: url(../images/icons-sprite.png) no-repeat -221px 0px;
	width: 17px;
}
.comment-icons ul li span.admin{
	background: url(../images/icons-sprite.png) no-repeat -202px -22px;
	width: 16px;
}
.comment-icons ul li span.cmnts{
	background: url(../images/icons-sprite.png) no-repeat -221px -22px;
	margin-right: 5px;
	width: 17px;
}
.comment-icons ul li a.like{
	background: url(../images/icons-sprite.png) no-repeat -202px -44px;
	margin-right: 6px;
	padding-left: 1.5em;
}
.comment-icons ul li a{
  color: #999;
  font-size: 13px;
  margin: 1em 0;
  display: inline;
}
.comment-icons ul li a:hover{
	color:rgb(58, 205, 188);
	text-decoration:none;
	transition:.5s all;
}
.recent-posts {
	margin: 4em 0;
}
.recent-posts-info {
	margin-bottom: 4em;
}
/*.read-more a {
	font-size: 14px;
	font-weight: 600;
	color: rgb(58, 205, 188);
	margin-left: 5px;
	letter-spacing: .5px;
	text-decoration: none;
	transition: .5s all;
}
.read-more a:hover {
	color: #fff;
	transform: rotatex(360deg);
	padding: 8px 10px;
	background: rgb(58, 205, 188);
	border-radius: 4px;
}*/
.posts-left{
	float:left;
	width: 47%;
	margin-right: 14px;
}
.posts-left a img {
  width: 100%;
}
.posts-right{
	float:right;
	width:49%;
}
.posts-right lable {
	font-size: 13px;
	color: #ccc;
}
.posts-right h5 {
	font-size: 15px;
	font-weight: 500;
	color: rgb(58, 205, 188);
	margin: .5em 0 0;
}
.posts-right h5 a{
	color: rgb(58, 205, 188);
	transition:.5s all;
	text-decoration:none;
}
.posts-right h5 a:hover{
	color: #37393d;
	text-decoration:none;
}
.posts-right p {
  color: #999;
  font-size: 13px;
  margin: .5em 0 1em;
}
.cmnts-middle {
  margin: 4em 0;
}
.cmnt-icon-left {
	float: left;
	width: 30%;
}
.cmnt-icon-right {
	float: right;
	  width: 70%;
}
.cmnt-icon-right p {
	color: #ccc;
	font-size: 13px;
	margin:0;
}
.cmnt-icon-right p a {
  color: #67686b;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration:none;
}
.cmnt-icon-right p a:hover{
  color: rgb(58, 205, 188);
  text-decoration:none;
  transition:.5s all;
}
.admin-text {
	background:#f3f3f3;
	padding: 2em;
}
.admin-text-left {
	float: left;
	width: 11%;
}
.admin-text-right {
	float: right;
	width: 86%;
}
.admin-text-right p {
	color: #999;
	font-size: 13px;
	margin:0 0 1em;
}
.admin-text-right span {
	font-size: 15px;
	margin: 0 0 1em 0;
	font-weight: 500;
	color: #838384;
}
.admin-text-right span a {
	color: rgb(58, 205, 188);
	text-decoration:none;
}
.admin-text-right span a:hover{
	color: #838384;
	transition:.5s all;
}
.related-posts-grids {
	float: left;
	width: 30%;
	margin-left: 1em;
}
.related-posts-grids img{
	width:100%;
}
.related-posts-grids h5 {
	font-size: 15px;
	font-weight: 600;
	margin: .5em 0;
	color: #1C90F4;
}


@media(max-width:768px){
.single-page {
  padding: 3em 0;
}
.comment-icons ul li a {
	font-size: 13px;
}
.comment-icons ul li {
	font-size: 13px;
}
.admin-text-right span {
	font-size: 14px;
}
.recent-posts-info {
	margin-bottom: 0;
	float: left;
	width: 50%;
	display: block;
}
.recent-posts {
	margin: 4em 0;
	display: inline-block;
}
/*
.cmnt-icon-left {
	width: 31%;
}
.cmnt-icon-right {
	width: 63%;
}*/
}


@media(max-width:480px){
.single-page {
  padding: 3em 0 2em;
}
.sngl-title {
  margin-bottom: 3em;
}
.single-page-info h5 {
  font-size: 13px;
}
.single-page p {
  letter-spacing: 0;
}
.comment-icons {
  margin: 2em 0;
  padding: 1em 0;
}
.comment-icons ul li {
  margin: 8px 13px;
  font-size: 11px;
}
.comment-icons ul li a {
  letter-spacing: 0;
}
.comment-icons ul li span {
  margin-right: 8px;
}
.admin-text-left {
  width: 16%;
}
.admin-text {
  padding: 2em 1em;
}
.admin-text-right {
  width: 80%;
}
.admin-text-right span {
  font-size: 13px;
}
.posts-left {
  width: 32%;
}
.posts-right {
  width: 62%;
}
.recent-posts {
  margin: 3em 0;
}
.recent-posts-info {
  margin-bottom: 1em;
  float: none;
  width: 100%;
}
.read-more a {
  font-size: 13px;
}
 /*
 .cmnts-middle {
  margin: 2em 0.5em 0;
}
.cmnt-icon-left {
  width: 40%;
}
.cmnt-icon-right {
  width: 59%;
}*/
}