/*----------------------slider----------------------*/
#slider3,#slider4 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
/*.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}*/
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	bottom: 5%;
 	 left: 12%;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 55px;
	width: 55px;
	background: transparent url("../images/icon1.png") no-repeat 21px 18px;
	background-color: rgba(54, 56, 60, 0.21);
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
	left: 15.54%;
	background: transparent url("../images/icon2.png") no-repeat 22px 19px;
	background-color: #BD8D45;
}
#slider3-pager a ,#slider4-pager a {
  display: inline-block;
}
#slider3-pager span, #slider4-pager span{
  float: left;
}
#slider3-pager span,#slider4-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a , #slider4-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a{
  padding: 0;
}
#slider3-pager li ,#slider4-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
		list-style: none;
		position: absolute;
		bottom: 0.2%;
		z-index: 111;
		left: 0%;
		padding: 0;
		margin: 0;
}
.slider-top{
	text-align: center;
	padding:10em 0;
}
.slider-top h1{
	font-weight:700;
	font-size:48px;
	color:#010101;
}
.slider-top p{
	font-weight:400;
	font-size:20px;
	padding:1em 7em;
	color:#010101;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
ul.social-slide li i{
	width:70px;
	height:74px;
	background:url(../images/img-resources.png)no-repeat;
	display: inline-block;
	margin:0px 15px;
}
/*ul.social-slide li i.win{
	background-position:-6px 0px;
}
ul.social-slide li i.android{
	background-position:-110px 0px;
}
ul.social-slide li i.mac{
	background-position:-215px 0px;
}
.callbacks_tabs li{
	display: inline-block;
	margin-left: 2px;
}
.callbacks_tabs a{
	font-size: 30px;
	color: #70664c;
	font-weight: 600;
	padding: 0px 18px;
	background: rgba(222, 208, 157, 0.89);
}
.callbacks_here a:after{
	color: black;
	text-decoration: none;
	background: rgba(245, 179, 3, 0.56);
}
.callbacks_tabs a:hover, .callbacks_tabs a:active {
  color: black;
  text-decoration: none;
  background: rgba(245, 179, 3, 0.56);
}
.callbacks_tabs a:after{
	color: black;
	text-decoration: none;
	background: rgba(245, 179, 3, 0.56);
}
li.callbacks1_s1.callbacks_here a.callbacks1_s1:after, li.callbacks1_s1.callbacks_here a.callbacks1_s1:active{
  color: black;
  background: rgba(245, 179, 3, 0.79);
  text-decoration: none;
  outline: none;
}
li.callbacks1_s1.callbacks_here a.callbacks1_s1:focus{
  color: black;
  background: rgba(245, 179, 3, 0.79);
  text-decoration: none;
  outline: none;
}
a.callbacks1_s4.active,a.callbacks1_s4:focus{
  color: black;
  background: rgba(245, 179, 3, 0.79);
  text-decoration: none;
  outline: none;
}
a.callbacks1_s2.active,a.callbacks1_s2:focus{
  color: black;
  background: rgba(245, 179, 3, 0.79);
  text-decoration: none;
  outline: none;
}
a.callbacks1_s3.active,a.callbacks1_s3:focus{
  color: black;
  background: rgba(245, 179, 3, 0.79);
  text-decoration: none;
  outline: none;
}*/
/*----------------------//slider----------------------*/
/*----------------------news----------------------*/
.news {
	background: #f3f3f3;
	margin-top: .8em;
	padding: 4em 0;
}
.news-grids {
	padding-top: 3em;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}
.news-grids-info {
	background: #fff;
	float: left;
	/*width: 24.9%;*/
	position:relative;
  padding: 2em 2em 1em;
	margin-left: 1px;
	-webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.news-grids-info h3 {
	color: #37393d;
	font-weight: 700;
	font-size: 16px;
  line-height: 20px;
	height: 40px;
	overflow: hidden;
  margin: 1em 0em 0em;
}
.news-grids-info p {
  display: block;
  color: #666B71;
  font-size: 14px;
  line-height:21px;
  height: 105px;
  overflow: hidden;
  text-align: justify;
}
a.callbacks_nav.callbacks2_nav.prev {
	top: -20%;
	right: 4.85%;
	bottom: auto;
	left: auto;
	background-color: rgba(217, 217, 217, 0.63);
}
a.callbacks_nav.callbacks2_nav.next {
	top: -20%;
	left: auto;
	right: 0%;
}

.news-tags {
	margin: 0.5em 0 1em;
}
.news-tags a {
	color: #999;
	font-size: 12px;
}
.news-tags span {
	color: #dedede;
	margin: 0em 0.5em;
}
.news-tags a i{
	color: #BD8D45;
	margin-right: 0.5em;
	vertical-align: middle;
}

/*----------------------//news----------------------*/
/*----------------------case----------------------*/
.case {
   background: #E3E3E3;
   padding: 2em 0 5em;
}
.case-title {
    position: relative;
}
.case-title h3 {
	color: #37393d;
	font-size: 2.5em;
	font-weight: 900;
	margin: 0;
	padding: 0 0 .7em 0;
	letter-spacing: -1px;
	border-bottom: 1px solid #cdcdcd;
}
.case-title h3::after {
	position: absolute;
	bottom: -5%;
	left: 0%;
	width: 9%;
	height: 10px;
	background: #BD8D45;
	content: '';
	opacity: 1;
}
.case-title h3 span {
	font-weight: 400;
	margin-left: 10px;
}
.tab-container {
    position: relative;
    max-width: 1150px;
    margin: 20px auto;
}
.tab-container .tab-header {
    background-color: #f0f;
}
.tab-container .tabs-nav {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}
.tab-container .tabs-nav li {
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f7ee;
    border-left: 1px solid #E3E3E3;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.tab-container .tabs-nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #4C4C4C;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 15px;
    outline: none;
}
.tab-nav li:first-child {
    border-left: none;
}
.tab-container .tabs-nav a:hover {
    background-color: rgba(233, 230, 202, 0.3);
}
.tab-container .tabs-nav a.active {
    background-color: #fff;
    box-shadow: inset 0 5px 0 #EB6F23;
}
.tab-content {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    background-color: #fff;
    color: #4C4C4C;
}
..tab-container .tabs-nav {
    display: none;
}
.accordion-container {
  margin: 0 auto;
}
.accordion-wrapper {
}
.accordion-header {
  position: relative;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #F2E2AE;
  border-left: 5px solid #7E8AA2;
}
.accordion-header a {
  display: inline-block;
  color: #4C4C4C;
  font-size:14px;
  text-decoration:none;
  padding: 10px 0px 10px 0px;
}
.accordion-header a span {
  display: inline-block;
  width: 55px;
  background-color: #BD8D45;
  padding: 5px;
  font-size: 12px;
  color: #fff;
  margin: 0px 15px 0px 10px;
}
.accordion-arrow {
  display: inline-block;
  line-height: 100%;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 12px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.open.accordion-arrow {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion-body{
  padding:10px 35px 10px 85px;
  border-top: 3px solid #f5f5f5;
  background-color: #fdfdfd;
  color: #4C4C4C;
  display:none;
  font-size: 14px;
}
/*----------------------//case----------------------*/
/*----------------------content---------------------*/
.introduce {
	padding: 5em 0;
	background:#fff;
}
.team {
	margin-bottom: 3em;
}
.team-info {
  padding: 1em;
  margin-top: 2em;
  border: 1px solid rgb(212, 211, 211);
}
.team-info img{
  width: 100%;
}
.team-info h4 {
	font-size: 20px;
	font-weight: 600;
	color: #383637;
	margin: 0.5em 0;
}
.team-info p {
  color: #666B71;
  font-size: 14px;
  margin: 1em 0 ;
  line-height:1.5em;
  margin: 0 0 2em;
}
.comment-info {
  padding: 1em 1em 4em;
  margin-top: 2em;
  border: 1px solid rgb(212, 211, 211);
}
.comment h4 {
	color: #37393d;
	font-size: 20px;
	font-weight: 700;
	margin: 1em 0 0;
}
.comment p {
	color: #666B71;
 	font-size: 14px;
 	margin: 1em 0 ;
  	line-height:1.5em;
}
.comment h6 {
	text-align: right;
}
a.callbacks_nav.callbacks3_nav.prev {
	bottom: 0%;
	height: 35px;
	width: 35px;
	left: 2%;
	background: transparent url("../images/icon1.png") no-repeat 12px 8px;
	background-color: #eeeeee;
}
a.callbacks_nav.callbacks3_nav.next {
	bottom: 0%;
	left: 11.5%;
	height: 35px;
	width: 35px;
	background: transparent url("../images/icon2.png") no-repeat 15px 8px;
	background-color: #BD8D45;
}
/*----------------------//content----------------------*/


@media(max-width:768px){
.banner-left {
	float: left;
	width: 60%;
}
.banner-right {
	float: right;
	width: 40%;
}
.banner-left h1 {
	font-size: 3.5em;
	letter-spacing: -1px;
}
.banner-left h3 {
	font-size: 2.5em;
}
.banner-left p {
	font-size: 13px;
	margin: 1em 0;
	width: 100%;
}
.callbacks_nav {
	height: 50px;
	width: 50px;
}
.callbacks_nav.next {
	left: 10.6%;
}
.news-title h3 {
	font-size: 2.2em;
}
.news-title h3::after {
	bottom: -7%;
}
a.callbacks_nav.callbacks2_nav.prev {
	right: 7%;
}
.news-grids-text {
	padding: 2.4em 1em 0;
}
.news-grids-info p {
	margin: 1em 0 0.5em;
	letter-spacing: 0;
	font-size: 13px;
}
.content {
  padding: 3em 0 0;
}
a.callbacks_nav.callbacks3_nav.prev {
	bottom: 14%;
}
a.callbacks_nav.callbacks3_nav.next {
	bottom: 14%;
	left: 11.4%;
}
}


@media(max-width:480px){
	.banner-left:nth-child(1) {
  padding: 2em 0 6em;
}
.banner-left h1 {
  font-size: 2.5em;
}
.banner-left h3 {
  font-size: 1.8em;
}
.banner-left p {
  margin: 1em 0;
  width: 100%;
  letter-spacing: 0;
}
.callbacks_nav {
  height: 40px;
  width: 40px;
  top: 74%;
  left: 4%;
  background-position: 16px 13px;
}
.callbacks_nav.next {
  background-position: 18px 12px;
  left: 12.75%;
}
.news-grids {
  padding-top: 2em;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.news-grids-info {
  margin-top: 2px;
  min-width: 150px;
/*  width: 49.5%;*/
}
a.callbacks_nav.callbacks2_nav.next {
  top: -9%;
}
a.callbacks_nav.callbacks2_nav.prev {
  right: 9.4%;
  top: -9%;
}
.callbacks_nav.callbacks3_nav.prev {
  bottom: 10% !important;
  top: initial;
}
a.callbacks_nav.callbacks3_nav.next {
  left: 10.8%;
  bottom: 10% !important;
  top: initial;
}
}