.service {
	background: #fff;
	padding: 5em 0;
}
.service-info {
	padding: 3em 0;
}
.service-info-text  {
  margin: 3em 0 0;
}
.service-info-text h4 {
	font-size: 20px;
	font-weight: 700;
	color: rgb(58, 205, 188);
	margin: 0;
}
.service-info-text p {
  color: #999;
  font-size: 14px;
  line-height: 1.8em;
  margin-top: 1em;
}
.service-info-item {
  padding-top: 5em;
}
.service-info-item-grid {
	text-align: center;
  float: left;
  width: 33.3%;
}
.service-info-item-grid h5 {
	color: #37393d;
	font-size: 18px;
	font-weight: 600;
	margin: 1.5em 0 .8em;
	letter-spacing: -1px;
}
.service-info-item-grid ul li {
  color: #999;
  font-size: 14px;
  margin: 0px auto;
  line-height: 1.8em;
  width: 80%;
  text-align: center;
  list-style: none;
}
.service-choose {
	padding: 3em 0;
}
.service-choose-shadow {
	padding: 1em;
	background: #f3f3f3;
	margin: 5em 0 0;
	box-shadow: 15px -11px rgba(236, 234, 234, 0.76);
}
.service-choose-text {
  float: left;
  width: 33.3%;
  color: #999;
  font-size: 14px;
  line-height:1.8em;
}
.service-choose-text h4 {
	color: #37393d;
	font-size: 22px;
	font-weight: 500;
	margin: 1em 0 .8em;
	letter-spacing: 0px;
}
.service-choose-text h5 {
  color: rgb(58, 205, 188);
  font-size: 16px;
  font-weight: 400;
  margin: 0em 0 .8em;
  line-height: 21px;
}
.service-choose-text ul li {
	display: inline-block;
	background: url(../images/icon3.png)no-repeat 0px 2px;
	padding-left: 2em;
	margin: 1em 0 0;
  color: #999;
}


@media(max-width:768px){
.service {
  padding: 3em 0 1em;
}
.service-info {
  padding: 3em 1em;
}
.service-info-item {
  padding-top: 3.5em;
}
.service-choose-shadow {
  padding: 0 1em;
  margin: 5em 1em;
}
.service-choose-text {
	float: left;
	width: 50%;
  margin-top: 2em;
}
}


@media(max-width:480px){
.service {
    padding: 2em 0 1em;
}
.service-info {
  padding: 2em 0;
}
.service-info-item-grid h5 {
  font-size: 13px;
}
.service-info-text h4 {
  font-size: 19px;
}
.service-info-item {
  padding-top: 3em;
}
.service-choose {
  margin-top: 2em;
  padding: 0;
}
.service-choose-text {
  float: left;
  width: 100%;
}
}