.service {
	background: #fff;
	padding: 3em 0;
}
.service-info  {
  padding: 3em 1em;
}
.service-info h4 {
	font-size: 20px;
  font-weight: 600;
  color: #37393d;
	margin: 0;
}
.service-info p {
  color: #666B71;
  font-size: 16px;
  line-height: 1.8em;
  margin-top: 1em;
}
.service-item {
  padding: 3em 1em;
}
.service-item-grids {
	text-align: center;
  float: left;
  width: 33.3%;
  margin-bottom: 3em;
}
.service-item-grids img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #BD8D45;
}
.service-item-grids h5 {
	color: #37393d;
	font-size: 16px;
	font-weight: 600;
	margin: 1.5em 0 .8em;
}
.service-item-grids ul li {
  color: #666B71;
  font-size: 14px;
  margin: 0px auto;
  line-height: 1.8em;
  width: 80%;
  text-align: center;
  list-style: none;
}
.service-choose {
	padding: 3em 1em;
}
.service-choose-shadow {
	padding: 1em;
	background: #f3f3f3;
	box-shadow: 15px -11px rgba(236, 234, 234, 0.76);
}
.service-choose-text {
  float: left;
  width: 33.3%;
  padding: 0 2em;
  color: #666B71;
  font-size: 16px;
  line-height:1.8em;
}
.service-choose-text h4 {
	font-size: 20px;
  font-weight: 600;
  color: #37393d;
	margin: 1em 0 .8em;
}
.service-choose-text h5 {
  color: #BD8D45;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0em 0 .8em;
}
.service-choose-text p {
  text-align: justify;
  font-size: 16px;
}
.service-choose-text ul li {
	display: inline-block;
  color: #666B71;
  margin: 0.5em 0;
}
.service-choose-text ul li i {
  color: #BD8D45;
  margin-right: 0.5em;
}

.service-company {
  margin-top: 2em;
}
.service-company ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
.service-company ul li {
  float: left;
  min-height: 100%;
  width: 25%;
  list-style: none;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.service-company figure {
  position: relative;
  overflow: hidden;
}
.service-company figure img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.service-company figure:hover img, 
.service-company figure:focus img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.service-company figcaption {
  position: absolute;
  cursor: pointer;
  color: #fff;
  top: 0;
  left: 0;
  padding:2em;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 97, 132, 0.85);
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.service-company figure:hover figcaption, 
.service-company figure:focus figcaption {
  opacity: 1
}
.service-company figcaption h5 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 30%;
  text-align: center;
}
.service-company figcaption h6 {
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  margin-top: 2em;
}

@media(max-width:768px) {
.service-choose-shadow {
  padding: 0 1em;
  margin: 5em 1em;
}
.service-choose-text {
	float: left;
	width: 50%;
  margin-top: 2em;
}
.service-company figcaption {
  padding: 1em;
}
.service-company figcaption h5 {
  font-size: 12px;
  margin-top: 25%;
}
.service-company figcaption h6 {
  font-size: 9px;
  margin-top: 1em;
}
}


@media(max-width:480px){
.service {
    padding: 2em 0;
}
.service-info {
  padding: 2em 0.5em;
}
.service-info h4 {
  font-size: 16px;
}
.service-info p {
  font-size: 14px;
}
.service-choose {
  padding: 2em 0.5em;
}
.service-choose-text {
  float: left;
  width: 100%;
}
.service-choose-text p ,ul {
  font-size: 14px;
}
.service-company ul {
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
}
.service-company ul li {
  min-width: 200px;
}
.service-company figcaption {
  padding: 2em;
}
.service-company figcaption h5 {
  font-size: 16px;
  margin-top: 30%;
}
.service-company figcaption h6 {
  font-size: 12px;
  margin-top: 2em;
}
}